.trading-div {
    width : 95%;
    height : 100%;
}

.trading-detail-div {
    width : 70%;
    height : 100%;
}

.trading-all-div {
    width : 100%;
    height : 800px;
    overflow-y : auto;
}

.trading-menu-div {
    width : 30%;
}

table {
    text-align : center;
    white-space : nowrap;
}

table tr {
    width : 100%;
    height : 5%;
}

.th-name, .c-name {
    width : 40%;
}

.th-price, .th-percent, .th-totalPrice, .c-price, .c-percent, .c-totalPrice {
    width : 20%;
}

.red-border {
    border: 2px solid red;
    transition: border 1s ease-in-out;
}

.blue-border {
    border: 2px solid blue !important;;
    transition: border 1s ease-in-out !important;;
}

.red-border {
    border: 2px solid red !important;;
    transition: border 1s ease-in-out !important;;
}

.minus-percent {
    color : blue !important;;
}

.plus-percent {
    color : red !important;
}

.basic-percent {
    color : var(--bs-table-striped-color) !important;;
}
