<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div class="main_con" th:fragment="signinFragment">
  <div class="balloon">
    <span th:text="${fail}"></span>
  </div>
  <div class="sub_con">
    <div class="form_con">
      <form action="/member/signin" method="post" name="form1">
        <input type="text" th:value="${user?.getUsername()}" name="id" placeholder="ID" autocomplete="off" required>
        <input type="password" name="pw" placeholder="PW" autocomplete="off" required>
      </form>
    </div>
    <div class="button_con">
      <button type="button" class="signin_btn">로그인</button>
      <button type="button" class="signup_btn">찾기</button>
    </div>
  </div>
</div>
</body>
</html>