.slide {
    overflow:hidden;
    position:relative;
}

.slide_wrap {
    animation: bannermove 180s linear infinite;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}